<h1 style="text-align:center"> Share Your Art!!</h1>
<!-- <% if @post.errors.size > 0 %>

   <%= @post.errors.each do |error| %>

<% end %> -->

<!-- <% end %> -->
<div class="container">
<%= render 'form' %>
</div>
